.step-bounce-loader {
  position: relative;
  width: 120px;
  height: 90px;
  contain: layout style;
}

.step-bounce-loader::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  will-change: transform;
  animation: step-bounce 0.5s ease-in-out infinite alternate;
}

.step-bounce-loader::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: step-loading 1s ease-in-out infinite;
}

@keyframes step-bounce {
  0% {
    transform: scaleX(0.8) scaleY(0.7);
  }
  40% {
    transform: scaleX(0.8) scaleY(1.2);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: translateY(-110px);
  }
}

@keyframes step-loading {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
      0 10px 0 #f2f2f2,
      -35px 50px 0 #f2f2f2,
      -70px 95px 0 #f2f2f2;
  }
  50% {
    box-shadow: 0 10px 0 #f2f2f2,
      -35px 50px 0 #f2f2f2,
      -70px 95px 0 #f2f2f2,
      -70px 95px 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 10px 0 #f2f2f2,
      -35px 50px 0 #f2f2f2,
      -70px 95px 0 #f2f2f2,
      -70px 95px 0 rgba(0, 0, 0, 0);
  }
}
